@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #292929;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 10px;
}

h1 {
	font-weight: bold;
	margin: 0;
	color: #fff;
}

h2 {
	text-align: center;
	color: #fff;
}
.rocket{
	margin-bottom: 25px;
	margin-top: 10px;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 10px;
	color: #fff;
}

span {
	font-size: 12px;
	color: #fff;
}

a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.loader {
	border: 8px solid transparent;
	border-top: 8px solid #FF4B2B; 
	border-bottom: 8px solid #FF4B2B;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 15px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #35393a;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#form-div{
	background-color: #35393a;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #4c5253;
	border: none;
	padding: 12px 15px;
	color: white;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #35393a;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.cover-space{
	/* background-color: #FF4B2B; */
	height: 100vh;
	position: relative;
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	width: 100%;
	clip-path: polygon(0 0, 100% 0%, 100% 0, 100% 0, 0 100%);
}

.profile{
	justify-content: start;
	align-items: center;
	position: relative;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
}


#name-card{
	background-color: #35393a;
	height: 500px;
	width: 300px;
	margin: 40px 0px 0px 70px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

}

#spacer{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.profile-avatar{
	margin-top: 0px;
}


#details-card{
	margin: 60px 0px 0px 10px;
	height: 430px;
	width: 800px;
	display: flex;
	background-color: #35393a;
}

#details-row{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 800px;
	justify-content: space-between;
	padding-left: 20px;
	
}

#details-bar{
	height: 40px;
	width: 400px;
	margin: 10px;
	display: flex;
	align-items: center;
	color: rgba(228, 224, 224, 0.911);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	background-color: #4c5253;
	padding-left: 15px;
	border-top-left-radius: 25px;
}

#row{
	display: flex;
	flex-direction: row;
	align-items: center;
}

h3{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;

}

/* #name-body{
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 100px;
	justify-content: start;
	align-content: flex-start;
} */

.dashboard{
	justify-content: start;
	background: #292929;
	display: flex;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 10px;
}

/* My Posts */

#my-posts{
	justify-content: start;
	align-items: center;
	position: relative;
}

#name-body{
	height: 100vh;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* margin: -200px 0px 0px 50px; */
	width: 100%;
}
#nav-bar{
	width: 100%;
	background-color: transparent;
	position: static;
	justify-content: space-between;
	display: flex;

  }

  ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: transparent;
	}
	
	li {
		float: left;
	}
	
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	li a:hover:not(.active) {
		background-color: #111;
	}
	
	.active {
		background-color: #FF4B2B;
	}

	#post-card{
		height: 300px;
		width: 250px;
		background-color: #35393a;
		border-radius: 5px;
		display: inline-grid;
		position: relative;
		box-shadow: -5px -5px 5px #000, 5px 5px 5px #3b3b3b49;
	}

	.avatar {
		vertical-align: middle;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		object-fit: cover;
		transition: transform 300ms;
	  }
	  .avatar:hover{
		transform: scale(1.2) rotate(-30deg);
	  }

	  #name-text{
		  font-size: 14px;
		  margin-left: 12px;
		  letter-spacing: 1px;
	  }
	  .name-row{
		  padding: 15px;
		  margin-bottom: -10px;
	  }
	  #title-text{
		  font-size: 17px;
		  text-align: left;
		  margin: 0px 0px 0px 10px;
		  padding-top: 10px;

	  }
	  #time-text{
		font-size: 10px; 
		font-family: monospace;
		margin: 0px 0px 0px 12px;
	  }
	  #desc-text{
		  font-size: 11px;
		  margin: 0px 10px 0px 10px;
		  text-justify: distribute;
		  
	  }
	  #content{
		  background-color: #4c5253d0;
		  padding-bottom: 5px;
		  border-radius: 5px;
	  }
	  #posts{
		display: grid;
	  }
	  box {
		height: 300px;
		width: 250px;
		position: absolute;
			
	  }
	  #shimmer{
		display: inline-grid;
		position: relative;
		height: 300px;
		width: 250px;
		border-radius: 5px;
		margin: 20px 30px;
		box-shadow: -5px -5px 10px #000, 5px 5px 10px #3b3b3b71;
	  }
	  #card{
		background-color:#3b3b3b;
		display: inline-grid;
		position: relative;
		width: 350px;
		height: 150px;
		border-radius: 5px;
		margin: 20px 10px;
		box-shadow: -5px -5px 10px #000, 5px 5px 10px #3b3b3b49;
		transition: transform 300ms;

	  }
	  .shine {
		background: #3b3b3b;
		background-image: linear-gradient(to right, #3b3b3b 0%, #3f3f3fc0 20%, #3f3f3fc0 40%, #3b3b3b 100%);
		background-repeat: no-repeat;
		background-size: 600px  300px; 
		display: inline-block;
		position: relative; 
		animation-duration: 600ms;
		animation-fill-mode: forwards; 
		animation-iteration-count: infinite;
		animation-name: placeholderShimmer;
		animation-timing-function: linear;
		}
		@keyframes placeholderShimmer {
			0% {
			  background-position: -468px 0;
			}
			
			100% {
			  background-position: 468px 0; 
			}
		  }

		  #back-post{
			  margin-top: 15px;
		  }

		  #add-card{
			height: 430px;
			width: 800px;
			display: flex;
			background-color: #35393a;
			border-radius: 5px;
			justify-content: space-between;
			box-shadow: -3px -3px 10px #3b3b3b49, 3px 3px 8px rgba(0, 0, 0, 0.671);
		  }

		  #add-title{
			  height: 40px;
			  width: 500px;
		  }

		  #add-right-column{
			  padding: 0px 40px 0px 20px;
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  flex-direction: column;
			  text-align: center;
		  }
		  #add-desc{
			  background-color: #4c5253;
			  color: white;
			  width: 500px;
			  height: 200px;
			  padding: 15px;
		  }

		  #post-submit{
			  margin-top: 20px;
		  }
		  #back{
			  background-color: transparent;
			  border-color: white;
			  cursor: pointer;
		  }

		  #radio-container{
			  display: flex;
			  flex-direction: row;
			  color: white;
			  padding: 8px 0px 2px 0px;
		  }
		
		  .radio-avatar {
			display: block;
			position: relative;
			padding: 0px 10px 0px 20px;
			margin-bottom: 12px;
			cursor: pointer;
			font-size: 12px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		  }
		  
		  /* Hide the browser's default radio button */
		  .radio-avatar input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		  }
		  
		  /* Create a custom radio button */
		  .checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 16px;
			width: 16px;
			background-color: #4c5253;
			border-radius: 50%;
		  }
		  
		  /* On mouse-over, add a grey background color */
		  .radio-avatar:hover input ~ .checkmark {
			background-color: #ccc;
		  }
		  
		  /* When the radio button is checked, add a blue background */
		  .radio-avatar input:checked ~ .checkmark {
			background-color: #FF4B2B;
		  }
		  
		  /* Create the indicator (the dot/circle - hidden when not checked) */
		  .checkmark:after {
			content: "";
			position: absolute;
			display: none;
		  }
		  
		  /* Show the indicator (dot/circle) when checked */
		  .radio-avatar input:checked ~ .checkmark:after {
			display: block;
		  }
		  
		  /* Style the indicator (dot/circle) */
		  .radio-avatar .checkmark:after {
			   top: 4px;
			  left: 4px;
			  width: 8px;
			  height: 8px;
			  border-radius: 50%;
			  background: white;
		  }
		  #sup-head{
			  padding-bottom: 20px;
		  }
		  #log-out{
			color: #fff;
			font-size: 14px;
			text-decoration: none;
			margin: 35px 40px 0px 0px;
			cursor: pointer;
		}